@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* "*" selects all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #fbfafa;
    --second-background-color: #FEACB9;
    --text-color: #c48b6d;
    --main-color: #b0663f;
    /*my skin tone, period*/
    /* under the brow --background-color: #c48b6d; */
    /* the pinkest of my nail color rgba(227,179,164,251); */
    /* the lightest gold in my hair jewelry #e3d9c6 */
    /* the lightest of my earring #fbfafa */

    /* 
--background-color: #EBE8E2;
--background-color:#FEACB9;

--background-color:#8F9491;

--background-color:#fbf0f3;

--background-color:#F2F4FF;

--background-color:#BEC5AD;


--background-color:#D496A7;
--background-color:#290628;
--background-color: #F8F0FB;


--background-color:#F1DEDE;
--background-color:#D496A7;
--background-color:#5D576B;
--background-color:#6CD4FF;
--background-color:#FE938C;


--background-color: #FFD6E9;
--background-color: #FFBCDA;
--background-color: #E79898;
--background-color: #946656;
--background-color: #c79274; */


}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--background-color);
    color: var(--text-color);

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky  {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

/* current says "portfolio" */
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    font-variant: small-caps;
}

/* "home"  "about" "services" "portfolio" "contact" */
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

/* when a nav link is moused over, the font color will change */
/* the page the user is on will also change and remain the same color as the hover */
.navbar a:hover,
.navbar a.currentPage {
    color: var(--main-color);
    transition: .3s;
}

.DarkMode {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--second-background-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--second-background-color);
    font-size: 1.6rem;
    color: var(--background-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* picture of me */
.home-img {
    /* position: fixed;
    bottom: 0;
    left: 0;
    padding: 10rem 9% 0rem; */
    width: 35vw;
}

.home-img img {
    /* width: 37vw; */
    width: 37vw;
    animation: floatImage 4s ease-in-out infinite;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hello and span text */
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

/* added space under span text */
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--second-background-color);
}

/* "Tiana Davis" text */
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

/* content below span text */
.home-content p {
    font-size: 1.6rem;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 45%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--background-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--second-background-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--second-background-color);
    font-size: 1.6rem;
    color: var(--background-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--background-color);
}


/* i can add a dif image to the right side of the page for the scroll down - about me */

/* i can change the background color of the page on about me */

/* i could also make my pic the background image */

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-background-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--background-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}


.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--second-background-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--background-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: #fbfafa;
    /* remove color after images are added */
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: #fbfafa;
    /* remove color after images are added */
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-background-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-background-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;

}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}



/* footer design  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--background-color);
}

.footer-text p {
    font-size: 1.2rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--main-color);
    border-radius: 2rem;
    transition: .3s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-background-color);
}


/* Responsive Design */
/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--background-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}